.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #ffeb7a;
  padding: 0 10px;
  color: #34495e;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 24px;
  width: 100%;
}

.to-do-item-completed {
  background-color: #f0b27a;
}

section {
  display: flex;
  gap: 10px;
}
